sudo: required

language: node_js

node_js:
  - 8

services:
  - docker

before_script:
  - docker run -d -p 27017:27017 mongo:3
  - docker ps -a

install:
  - npm install mocha
  - npm install chai
  - npm install istanbul
  - npm install codecov --save-dev
script:
  - MONGODB_URL=mongodb://localhost/connect-mongo-test mocha --exit
 
 
after_success:
  - bash <(curl -s https://codecov.io/bash) -t d2d8a625-5203-4846-b6a4-5adcb2379bb9
